@font-face {
  font-family: 'San-Francisco-Regular';
  src: url('../../public/font/System\ San\ Francisco\ Display\ Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: 'San-Francisco-Light';
  src: url('../../public/font/System\ San\ Francisco\ Display\ Thin.ttf')
    format('truetype');
}
