.container {
  padding: 5px 6%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #ffffffd1;
  height: 68px;
}

.title {
  font-size: 1.8em;
  color: #333;
  margin: 0px;
}

.navContainer {
  display: flex;
  align-items: center;
}
