.link {
  color: #4c4a4a;
  font-family: San-Francisco-Regular;
  text-decoration: none;
  font-size: 16px;
  @media (max-width: 960px) {
    font-size: 14px;
  }
  @media (max-width: 270px) {
    font-size: 12px;
  }
}

.container {
  min-width: 300px;
  margin-right: 18px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: fit-content;
  margin-bottom: 0px;
  @media (max-width: 960px) {
    min-width: 200px;
  }
  @media (max-width: 710px) {
    min-width: calc(80% - 124px);
    justify-content: space-between;
    padding-right: 17%;
  }
  @media (max-width: 450px) {
    min-width: 56%;
    padding-right: 6%;
  }
}
